<h1>Argument Unit Project</h1>
<mat-drawer-container class="example-container">
  <mat-drawer id="menu" mode="side" opened>
    <button id="button" mat-stroked-button (click)="switchContent(myLinks[0].value)">Home</button>
    <button id="button" mat-stroked-button (click)="switchContent(myLinks[1].value)">Pros</button>
    <button id="button" mat-stroked-button (click)="switchContent(myLinks[2].value)">Cons</button>
    <button id="button" mat-stroked-button (click)="switchContent(myLinks[3].value)">Future Use</button>
    <button id="button" mat-stroked-button (click)="switchContent(myLinks[4].value)">Sources</button>

  </mat-drawer>
  <mat-drawer-content>
    <section id="contentSection" [ngSwitch]="currDisplay">
      <app-home *ngSwitchCase="'home-component'"></app-home>
      <app-pros *ngSwitchCase="'pros-component'"></app-pros>
      <app-cons *ngSwitchCase="'cons-component'"></app-cons>
      <app-future-use *ngSwitchCase="'future-use-component'"></app-future-use>
      <app-sources *ngSwitchCase="'sources-component'"></app-sources>
    </section>
  </mat-drawer-content>
</mat-drawer-container> 